<div class="row row-cols-3 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="static/images/card1use.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">What skill level is this for?</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/images/card2what.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Beginners to Pros!</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="static/images/card3how.svg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">How can you Learn?</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="static/images/card4beginner.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="static/images/card5intermediate.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img
        src="static/images/card6advanced.svg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          ullamcorper lorem id venenatis condimentum. Nam ultricies nibh
          pharetra felis pretium tincidunt. Integer nibh nibh, sodales vel est
          a, semper vulputate lacus. Suspendisse sit amet massa ipsum. Fusce
          accumsan tortor nisi.
        </p>
      </div>
    </div>
  </div>
</div>
