{% extends 'layout.html' %} {% block content %}
<h1>Contact Me</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-4 col-sm-12">
      <ol>
        <li>Phone: 1234 5678</li>
        <li>Email: toby@toby.com</li>
        <li>Address: 1600 Pennsylvania Avenue</li>
      </ol>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7385.411987568306!2d-77.04134182475205!3d38.89692499035373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7bcdecbb1df%3A0x715969d86d0b76bf!2sThe%20White%20House!5e0!3m2!1sen!2sau!4v1748828537393!5m2!1sen!2sau"
        width="900"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
