{% extends 'layout.html' %} {% block content %} {% include
"partials/slider.html" %}
<style>
  .signupbutton {
    display: inline;
    width: 100%;
    border: 2px black;
    background-color: #04aa6d;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
</style>
<div class="container">
  <div class="row">
    {% for card in cards %}
    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
      <div class="card basic-3-hover">
        <img src="{{ card [3] }}" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ card [0] }}</h5>
          <p class="card-text">{{ card [1] }}</p>
          <a
            href="lessonshome.html"
            class="btn btn:hover btn-primary basic-3-hover"
            >{{ card [2] }}</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row lg-6 mx-auto p-5">
    <br />
    <button
      onclick="signupfunction()"
      type="btn-btn-success"
      class="btn btn-primary btn-lg btn-block"
    >
      Sign Up Today! (It's Free)
    </button>
    <br /><br /><br /><br /><br /><br />
  </div>
</div>

<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <p class="col-md-4 mb-0 text-body-secondary">© Learn Python Website</p>
    <a
      href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      aria-label="Bootstrap"
    >
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="index.html" class="nav-link px-2 text-body-secondary">Home</a>
      </li>
      <li class="nav-item">
        <a href="lessonshome.html" class="nav-link px-2 text-body-secondary"
          >Lessons Hub</a
        >
      </li>
      <li class="nav-item">
        <a href="signup.html" class="nav-link px-2 text-body-secondary"
          >Sign Up</a
        >
      </li>
      <li class="nav-item">
        <a href="contact.html" class="nav-link px-2 text-body-secondary"
          >Contact</a
        >
      </li>
    </ul>
  </footer>
</div>

<script>
  function signupfunction() {
    window.location.pathname = "/signup.html";
  }
</script>
{% endblock %}

</body>
