<html>
  <head>
    <title>Top 3 affordable gaming PCs</title>
    <style>
      .coolheader {
        font-size: 50px;
        color: red;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      }

    <style>
      .bigmoney {
        font-size: 50px;
        color: green
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      }

    img {
      height:500;
      border: 4px solid black;
    }

    button {
      border: 4px solid green;
      width:100px;
    }

   



    </style>
    
  </head>
  <body>
    
    <h1 class="coolheader">Hello {{front_end_data}}</h1>
    <h1 id="user_feedback"></h1>
    <h1 class="coolheader"> <strong>Top 3 <em>affordable</em></strong> Gaming PCs for wannabe gamers!</em></h1>
    By Toby Johnson - 9CT1
    <hr />
    <u><h1>But first of all, what is a personal computer?</h1></u>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Cu3R5it4cQs?si=O9t0rPeLgVBrUiwF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <a href="https://www.google.com/search?sca_esv=9fb85a25592254e6&rlz=1C1GCEA_enAU1148AU1148&q=pc&udm=2&fbs=ABzOT_CWdhQLP1FcmU5B0fn3xuWp5u5rQsC2YJafWTbyNSy6G3Vsi155b_IyTtSTnvQaXi_73bQXinq5ucRQCLG__rAoHgxoOjNd06BB20JVETCRKKgNCU54h8676rCFZNABD04Ht6cRHd98WUk6om6xDg2T6vlhygQTzkzf8hzWm4e9KDPvi7TcHv3ymqlU4A6HbXZbbVgT8Dr9Cxw_NoBW1a318G1Dsg&sa=X&ved=2ahUKEwiaj_WwhduLAxXSSGwGHWjCD1QQtKgLegQIEBAB&biw=1920&bih=945&dpr=1#vhid=5Hl6iktGrRd5oM&vssid=mosaic"
    <br/>
  <h2><strong>These are some more images of PCs! Click me!</h2></strong></a>
  <br/>
  <hr/>
  <h2>These are some great affordable PCs for anyone wanting to start with them!</h2>
  <hr/>
  <h1>1. Radium Gaming PC Kudan: LVL 1 Ryzen 5600G</h1>
  <img src="https://m.media-amazon.com/images/I/61YTj8L6gpL.jpg">
  <br/>
  <hr/>
  <button><h1 class="bigmoney">$799</h1></button>
  <br/>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor iaculis magna quis tempus. Donec nec sagittis ligula. Nam id purus consectetur, fermentum quam vitae, sodales ex. Suspendisse velit ligula, fringilla non ultrices at, ultrices nec urna. Mauris efficitur mattis tellus eu gravida. Vivamus sem ipsum, sollicitudin non porttitor sit amet, congue eu dui. Nam id arcu ut lacus blandit feugiat. Pellentesque maximus purus non ante pretium facilisis. Nullam mattis, tellus at rutrum suscipit, erat diam dignissim dui, eu maximus arcu felis ac libero. Praesent ut justo nec ex fermentum efficitur. Ut eget nulla mollis, laoreet turpis sit amet, sodales.

  
  <br/>


  <a href="https://radiumpcs.com.au/products/kudan-core?variant=40132209508439&country=AU&currency=AUD&utm_medium=product_sync&utm_source=google&utm_content=sag_organic&utm_campaign=sag_organic">
  <h3>Click me to view the Radium Gaming PC Kudan: LVL 1 Ryzen 5600G</h3></a>

  <h1>2. MSI cube 5 mini PC </h1>
  <img src="https://www.scan.co.uk/images/products/xlarge/3500358-xl-a.jpg"
  height="500">
  <br/>
  <hr/>
  <button><h1 class="bigmoney">$527</h1></button>
  <br/>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor iaculis magna quis tempus. Donec nec sagittis ligula. Nam id purus consectetur, fermentum quam vitae, sodales ex. Suspendisse velit ligula, fringilla non ultrices at, ultrices nec urna. Mauris efficitur mattis tellus eu gravida. Vivamus sem ipsum, sollicitudin non porttitor sit amet, congue eu dui. Nam id arcu ut lacus blandit feugiat. Pellentesque maximus purus non ante pretium facilisis. Nullam mattis, tellus at rutrum suscipit, erat diam dignissim dui, eu maximus arcu felis ac libero. Praesent ut justo nec ex fermentum efficitur. Ut eget nulla mollis, laoreet turpis sit amet, sodales.

  
  <br/>


  <a href="https://www.officeworks.com.au/shop/officeworks/p/msi-cubi-5-desktop-core-i3-8-512gb-intel-uhd-win11-black-mscubi5025?region_id=GTYP2H&regionIdSet=true">
  <h4>Click me to view the MSI cube 5 mini PC</h4></a>

    <br/>

  <h1>3. NZXT Player: One </h1>
  <img src="https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/21820772/NZXT_starter.jpg?quality=90&strip=all&crop=0%2C5.5555555555556%2C100%2C88.888888888889&w=750"
  height="500">
  <br/>
  <hr/>
  <button><h1 class="bigmoney">$527</h1></button>
  <br/>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempor iaculis magna quis tempus. Donec nec sagittis ligula. Nam id purus consectetur, fermentum quam vitae, sodales ex. Suspendisse velit ligula, fringilla non ultrices at, ultrices nec urna. Mauris efficitur mattis tellus eu gravida. Vivamus sem ipsum, sollicitudin non porttitor sit amet, congue eu dui. Nam id arcu ut lacus blandit feugiat. Pellentesque maximus purus non ante pretium facilisis. Nullam mattis, tellus at rutrum suscipit, erat diam dignissim dui, eu maximus arcu felis ac libero. Praesent ut justo nec ex fermentum efficitur. Ut eget nulla mollis, laoreet turpis sit amet, sodales.

  
  <br/>


  <a href="https://nzxt.com/product/player-one">
  <h4>Click me to view the NZXT Player: One</h4></a>

  </body>
  <SCRIPT src="static/js/script.js"></SCRIPT>
</html>
