<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <style>
    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(270deg, rgb(33, 64, 133), rgb(72, 90, 170), rgb(103, 148, 199), rgb(71, 151, 175), rgb(88, 119, 187), rgb(81, 118, 219), violet);
      background-size: 1400% 1400%;
      animation: rainbow 20s linear infinite;
    }

    @keyframes rainbow {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
  </style>
</head>
<body>
</body>
</html>


{% extends 'layout.html' %} 
{% block content %}
<body style="background: linear-gradient(to right, rgb(131, 184, 202),  rgb(24, 120, 151);">
  <div class="container">
    <div class="row">
      <br/>
      <h1 style="text-align: center; padding: 30px;">Welcome to Learn Python!</h1>
      <br />
      <strong><h1  style="text-align: start">Beginner Lessons</strong></h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 lg-4">
      <div class="col">
        <div class="card ">
          <img src="static/images/python_indentation_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Indentation</h5>
            <p class="card-text">Indentation in Python defines the structure of the code by marking blocks of statements. It replaces traditional braces and ensures readability.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  img-fluid">
          <img src="static/images/python_variables_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Variables</h5>
            <p class="card-text">A variable in Python is a named reference to a value, allowing data storage and reuse. It can hold numbers, text, or other types.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card img-fluid">
          <img src="static/images/python_operators_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Operators</h5>
            <p class="card-text">Basic Python operators include addition, subtraction, multiplication, and division. These operators are used to perform arithmetic operations on numbers.</p>
          </div>
        </div>
      </div>
    </div>
    </div> 
    <div class="container">
    <div class="row">
      <br />
      <strong><h1  style="text-align: start">Intermediate Lessons</strong></h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 lg-4">
      <div class="col">
        <div class="card basic-3-hover">
          <img src="static/images/python_boolean_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Booleans</h5>
            <p class="card-text">In Python, booleans are a fundamental data type representing truth values, with two possible values: True or False. They are essential for controlling program flow, making decisions, and performing comparisons. 
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  img-fluid">
          <img src="static/images/python_variabletypes_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Variable Types</h5>
            <p class="card-text">Python's variables are containers for storing data values. These values can be of various types, each with its own characteristics and usage. Some examples include integers, floats, strings and booleans, which each produce different values. This lesson is a breakdown of common variable types in Python.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card img-fluid">
          <img src="static/images/python_stringsadvanced_example.png" class="card-img-top img-background" alt="...">
          <div class="card-body">
            <h5 class="card-title">Formatting Strings</h5>
            <p class="card-text">String formatting in Python allows you to embed variables and expressions within strings. There are several methods to achieve this, each with its syntax and features. Some examples can include slicing, concatenating and modifying. Some examples of commands can include uppercase, lowercase, splitting and escape characters. They are all covered in this lesson.</p>
          </div>
        </div>
      </div>
    </div>

    </div>

    <div class="container">
    <div class="row">
      <br />
      <strong><h1  style="text-align: start">Advanced Lessons</strong></h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 lg-4">
      <div class="col">
        <div class="card ">
          <img src="static/images/python_boolean_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Advanced Python Lesson 1</h5>
            <p class="card-text">Aenean sagittis enim quis lacus mollis, non viverra ligula tincidunt. Sed odio turpis, elementum id pharetra ac, auctor at velit. Ut et augue sem. Pellentesque eget dolor ut tortor consequat euismod.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  img-fluid">
          <img src="static/images/python_variabletypes_example.png" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">Advanced Python Lesson 2</h5>
            <p class="card-text">Vivamus maximus vitae sem et pretium. Integer nisi velit, maximus varius bibendum vulputate, rhoncus sed lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sagittis enim quis lacus mollis, non viverra ligula tincidunt. 
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card img-fluid">
          <img src="static/images/python_stringsadvanced_example.png" class="card-img-top img-background" alt="...">
          <div class="card-body">
            <h5 class="card-title">Advanced Python Lesson 3</h5>
            <p class="card-text">Vivamus maximus vitae sem et pretium. Integer nisi velit, maximus varius bibendum vulputate, rhoncus sed lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sagittis enim quis lacus mollis, non viverra ligula tincidunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-body-secondary">© 2025 Learn Python Website</p>
      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        aria-label="Bootstrap"
      >
        <svg class="bi me-2" width="40" height="32" aria-hidden="true">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="index.html" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="lessonshome.html" class="nav-link px-2 text-body-secondary">Lessons Hub</a>
        </li>
        <li class="nav-item">
          <a href="signup.html" class="nav-link px-2 text-body-secondary">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" class="nav-link px-2 text-body-secondary">Contact</a>
        </li>
      </ul>
    </footer>
</body>
{% endblock %}